header {
  background-color: #fff;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
}

.header-logo {
  background-image: url(/web_static/images/logo.png);
  margin: 20px;
  height: 60px;
  width: 140px;
}
